<%- include('header'); -%>
<%- include('navbar'); -%>

<div role="main" class="container" style="width: 50%;">
    <br/><br/>
    <h2>-- Employee Record --</h2>
    <div>
        <div class="form-group">
            <label for="frstName">First Name:</label>
            <input type="text" class="form-control" id="frstName" value="<%= employee[0].firstName %>" name="frstName" />
            <label for="mddlName">Middle Name:</label>
            <input type="text" class="form-control" id="mddlName" value="<%= employee[0].middleName %>" name="mddlName" />
            <label for="lstName">Last Name:</label>
            <input type="text" class="form-control" id="lstName" value="<%= employee[0].lastName %>" name="lstName" />
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" value="<%= employee[0].email %>" name="email" />
        </div>
    </div>
    <br /><br />
    <a href="/list">Return to Employees</a>
</div>
<%- include('footer'); -%>